.topoTitulo {
    background: #26cda4;
    border: 3px solid #26cda4;
    height: 0px ;
    width: 80px ;
    margin-left: 0px ;    
}

.Italico {
  font-style: italic;
}

.identificaCol {
	border: 2px solid #000;
	height: 100%;
}

.borda-esq-clara {
  border-left: 6px solid #80bfff;
}

.borda-esq-escura {
  border-left: 6px solid #3399ff;
}

.navbar-contbraz .navbar-nav>.active>a {
	background-color: #afafaf;  
	color: #fff;
	font-weight: 700;
}

.navbar-contbraz {
	background-color: #180E58;
	border-color: #180E58;
}

.reseta-row {
	margin: 0 !important;
}

.reseta-padding {
	padding: 0px 1px;
}

.reseta-link {
	text-decoration: none;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in
}

.reseta-link:hover {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in
}

.navbar-toggle {
	background-color: #fff;
}

.navbar-toggle > .icon-bar {
	background-color: #000;
}

.nav>li>a:focus, .nav>li>a:hover {
	background-color: rgba(0, 0, 0, 0.2);  
	color: #fff;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in
}

.owl-prev, .owl-next {
	font-size: 32px;
    color: #fff;    
    z-index: 99;    
    background-color: transparent;
    width: 46px;
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    position: absolute;	
    border: 3px solid #fff;
    opacity: 0.4;
}

.owl-prev:hover, .owl-next:hover {
	/*color: rgba(0, 0, 0, 0.2); */
	opacity: 1;	
}

.owl-prev {		
    left: 4%;
}

.owl-next {
    right: 4%;
}

.owl-prev > i, .owl-next > i {
	margin-left: 22%;
}



.img-ultnoticia:hover + .tituloUltNoticia {	
	-webkit-animation: apareceTitulo 0.3s linear 1 alternate;
	opacity: 1;
}

.tituloUltNoticia:hover {
	opacity: 1;
}

@-webkit-keyframes apareceTitulo {
	0% {
		-webkit-opacity: 0;
	}
	50% {
		-webkit-opacity: 0.5;
	}
	100% {
		-webkit-opacity: 1;
	}
}


/***special features***/
.special-feature .section-title hr {
  border-color: #151515;
}

.special-feature i {
  font-size: 65px;
  line-height: 75px;
}

.special-feature h4 {
  font-size: 16px;
  margin-top: 25px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  color: #777;
}

.special-feature .mask-top {
  width: 100%;
  background-color: #ffffff;
  padding: 55px 0;
  position: absolute;
  top: 0px;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.special-feature .mask-top h4:before {
  top: -18px;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  right: 0;
  margin: -2px auto;
  position: absolute;
  width: 40px;
}

.special-feature .s-feature-box:hover .mask-top {
  top: -200px;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.special-feature .s-feature-box {
  overflow: hidden;
  position: relative;
  height: 280px;
  border: 1px solid #f2f2f2;
  margin-bottom: 20px;
  cursor: pointer;
}

.special-feature .mask-bottom {
  color: #333333;
  padding: 20px 15px 20px 15px;
  width: 100%;
  position: absolute;
  bottom: -300px;
  height: 100%;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.special-feature .mask-bottom p {
  padding: 0px 5px;
  font-size: 14px;
}

.special-feature .mask-bottom h4 {
  margin: 15px 0px 17px;
}

.special-feature .s-feature-box:hover .mask-bottom {
  bottom: 0;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.special-feature .mask-bottom i {
  font-size: 38px;
  line-height: 50px;
}

/****************

SOCIAL BUTTONS

**********************/
/**social icons default size**/
.social-icon {
  margin: 0 5px 5px 0;
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 40px !important;
  color: #555;
  text-shadow: none;
  border-radius: 3px;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  border: 1px solid #AAA;
}
.social-icon:hover {
  border-color: transparent;
}

.social-icon i {
  display: block;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  line-height: 40px;
  position: relative;
}
.social-icon i:last-child {
  color: #FFF !important;
}

.social-icon:hover i:first-child {
  margin-top: -40px;
}

/***social icons lg (big)***/
.social-icon-lg {
  margin: 0 5px 5px 0;
  width: 60px;
  height: 60px;
  font-size: 30px;
  line-height: 60px !important;
  color: #555;
  text-shadow: none;
  border-radius: 3px;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  border: 1px solid #AAA;
}
.social-icon-lg:hover {
  border-color: transparent;
}

.social-icon-lg i {
  display: block;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  line-height: 60px;
  position: relative;
}
.social-icon-lg i:last-child {
  color: #FFF !important;
}

.social-icon-lg:hover i:first-child {
  margin-top: -60px;
}

/***social icons small***/
.social-icon-sm {
  margin: 0 5px 5px 0;
  width: 30px;
  height: 30px;
  font-size: 18px;
  line-height: 30px !important;
  color: #555;
  text-shadow: none;
  border-radius: 3px;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  border: 1px solid #AAA;
}
.social-icon-sm:hover {
  border-color: transparent;
}

.social-icon-sm i {
  display: block;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  line-height: 30px;
  position: relative;
}
.social-icon-sm i:last-child {
  color: #FFF !important;
}

.social-icon-sm:hover i:first-child {
  margin-top: -30px;
}

si-border {
  border: 1px solid #AAA !important;
}

.si-border-round {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.si-dark-round {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.si-gray-round {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.si-gray {
  background: #f3f3f3;
  border: 0px;
}

.si-dark {
  background-color: #333;
  border: 0px !important;
  color: #fff !important;
}

/**icons hover colored**/
.si-colored-facebook, .si-facebook:hover {
  background-color: #3B5998 !important;
}

.si-colored-twitter, .si-twitter:hover {
  background-color: #00ACEE !important;
}

.si-colored-google-plus, .si-g-plus:hover {
  background-color: #DD4B39 !important;
}

.si-colored-skype, .si-skype:hover {
  background-color: #00AFF0 !important;
}

.si-linkedin:hover, .si-colored-linkedin {
  background-color: #0E76A8 !important;
}

.si-pin:hover, .si-colored-pinterest {
  background-color: #C8232C !important;
}

.si-rss:hover, .si-colored-rss {
  background-color: #EE802F !important;
}

.si-pinterest:hover, .si-colored-pinterest {
  background-color: #C8232C !important;
}

.si-tumblr:hover, .si-colored-tumblr {
  background-color: #34526F !important;
}

.si-vimeo:hover, .si-colored-vimeo {
  background-color: #86C9EF !important;
}

.si-digg:hover, .si-colored-digg {
  background-color: #191919 !important;
}

.si-instagram:hover, .si-colored-instagram {
  background-color: #3F729B !important;
}

.si-flickr:hover, .si-colored-flickr {
  background-color: #FF0084 !important;
}

.si-paypal:hover, .si-colored-paypal {
  background-color: #00588B !important;
}

.si-yahoo:hover, .si-colored-yahoo {
  background-color: #720E9E !important;
}

.si-android:hover, .si-colored-andriod {
  background-color: #A4C639 !important;
}

.si-appstore:hover, .si-colored-apple {
  background-color: #000 !important;
}

.si-dropbox:hover {
  background-color: #3D9AE8 !important;
}

.si-dribbble:hover, .si-colored-dribbble {
  background-color: #EA4C89 !important;
}

.si-soundcloud:hover, .si-colored-soundcoloud {
  background-color: #F70 !important;
}

.si-xing:hover, .si-colored-xing {
  background-color: #126567 !important;
}

.si-phone:hover, .si-colored-phone {
  background-color: #444 !important;
}

.si-behance:hover, .si-colored-behance {
  background-color: #053eff !important;
}

.si-github:hover, .si-colored-github {
  background-color: #171515 !important;
}

.si-stumbleupon:hover, .si-colored-stumbleupon {
  background-color: #F74425 !important;
}

.si-email:hover, .si-colored-email {
  background-color: #6567A5 !important;
}

.si-wordpress:hover, .si-colored-wordpress {
  background-color: #1E8CBE !important;
}

.social-shortcodes .left-heading {
  font-size: 30px;
  text-transform: uppercase;
}

.grid-boxed {
  border: 1px solid transparent;
  padding: 20px;
}

.grid-boxed:hover {
  border: 1px dashed #999;
}

/*
===================================
           REDES SOCIAIS
===================================
*/

.fa-facebook:hover {
	color: #3B5998;
}

.fa-twitter:hover {
	color: #00ACEE;
}

.fa-linkedin:hover {
	color: #0E76A8;
}

.fa-google-plus:hover {
	color: #DD4B39;
}


/********************************sidebar***********************/
.sidebar-box h4 {
  font-size: 16px !important;
  font-weight: 600 !important;
  color: #444 !important;
  text-transform: uppercase !important;
}

.search-widget {
  position: relative !important;
}

.search-widget i {
  position: absolute !important;
  top: 10px !important;
  right: 10px !important;
  color: #777 !important;
}

.cat-list li {
  padding: 5px 0 !important;
  border-bottom: 1px solid #e5e5e5 !important;
}

.cat-list li a {
  color: #888 !important;
  margin-right: 10px !important;
}

.cat-list li i {
  color: #888 !important;
  margin-right: 10px !important;
  -moz-transition: all 0.3s ease-in-out !important;
  -o-transition: all 0.3s ease-in-out !important;
  -webkit-transition: all 0.3s ease-in-out !important;
  transition: all 0.3s ease-in-out !important;
}

.cat-list li:hover i {
  margin-left: 5px !important;
}

.cat-list li a:hover {
  color: #32c5d2 !important;
}

.popular-post li {
  padding-bottom: 20px !important;
}

.popular-img {
  float: left !important;
  margin-right: 10px !important;
}

.popular-img a img {
  width: 60px !important;
  height: 60px !important;
}

.popular-desc {
  display: table !important;
}

.popular-desc .h5 {
  font-size: 17px !important;
  margin-bottom: 6px !important;
}

.popular-desc .h5 a {
  color: #000 !important;
  font-weight: 600 !important;
  font-size: 14px !important;
}

.popular-desc .h5 a:hover {
  color: #32c5d2 !important;
}

.popular-desc h6 {
  color: #777 !important ;
  font-style: normal !important;
  font-size: 12px !important;
  font-weight: 600 !important;
}

.tag-list a {
  display: inline-block !important ;
  text-transform: uppercase !important;
  margin-right: 0px !important;
  margin-bottom: 3px !important;
  padding: 3px 6px !important;
  color: #777 !important;
  font-size: 14px !important;
  background-color: #e5e5e5 !important;
}

.tag-list a:hover {
  background-color: #32c5d2 !important;
  color: #fff !important;
}

.step {
  width: 700px !important;
  float: right !important;
  text-align: left !important;
  margin: 0 0 10px !important;
  padding: 10px 0 0 405px !important;
  position: relative !important;
}

.step.even {
  float: left !important;
  text-align: right !important;
  padding: 10px 405px 0 0 !important;
}

.step h5 {
  color: #3f8dbf !important;
}

.step .icon-square {
  position: relative !important;
  margin-left: 10px !important;
}

.step.even .icon-square {
  margin-right: 10px !important;
}

.step .icon-square:before {
  content: "";
  display: block;
  width: 65px;
  border-bottom: 1px solid #dadada;
  position: absolute;
  top: 35px;
  left: -65px;
}

.step.even .icon-square:before {
  left: auto;
  right: -65px;
}

.icon-square {
  display: inline-block;
}

.icon-square i {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  text-align: center;
  color: #ddd;
  font-size: 40px;
  padding: 0;
  margin: 0 0 10px 0;
  display: table;
  width: 70px;
  height: 70px;
  border: 2px solid #ddd;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
/*
.cor_fundo i{
  background: #26cda4;  
}

.cor_fundo2 i{
  background: #cbb956;
}*/

.icon-circulo i {
  font-family: "FontAwesome";
  font-weight: bold;
  font-style: normal;
  line-height: 1;
  text-align: center;
  color: #000;
  font-size: 20px;
  margin: 15px 0 10px 0;
  display: table;
  width: 80px;
  height: 80px;
  border: 0px solid #ddd;
  /* linha abaixo responsavel por fazer circulo*/
  border-radius: 50%;
  padding:12px;
  
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  /*linha abaixo coloba sombra*/
  /*box-shadow: inset -10px -10px 10px #d2d2d2, inset 3px 3px 5px #FFF;*/  
}

.step:hover .icon-square i {
  background-color: #32c5d2;
  color: #FFF;
}

.icon-square i:before {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.step h5 {
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
  font-size: 20px;
}

@media (max-width: 767px) {
  .process-step {
    width: 100%;
  }

  .step {
    width: 100%;
    float: none;
    text-align: center;
    margin: 0 0 30px;
    padding: 0;
    position: relative;
  }

  .step.even {
    float: none;
    text-align: center;
    padding: 0;
  }

  .step .icon-square:before {
    border: 0px;
  }

  .process-border {
    border: 0;
  }
}

/**blog inner pages**/
.blog-post {
  border-bottom: 1px dashed #e5e5e5;
  padding-bottom: 30px;
  margin-bottom: 60px;
}

.post-detail {
  margin-top: 25px;
  margin-bottom: 0px;
  border-top: 1px solid #ebeaea;
  border-bottom: 1px solid #ebeaea;
  margin-left: 0px;
}

.post-detail li img {
  width: 26px;
  height: 26px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  border-radius: 13px;
  float: left;
  margin-right: 10px;
}

.post-detail li + li {
  padding-left: 15px;
}

.post-detail li {
  font-size: 12px;
  vertical-align: middle;
  text-transform: capitalize;
}

.post-detail li i {
  margin-right: 5px;
}

.blog-post h2 {
  font-size: 25px;
  margin-bottom: 10px;
  margin-top: 15px;
  font-weight: 600;
  text-transform: capitalize;
}

.blog-left-img .post-detail {
  margin-top: 0px;
}

.about-author {
  background-color: #f5f5f5;
  padding: 30px;
  margin-bottom: 50px;
}

.about-author img {
  width: 120px;
  height: 120px;
  float: left;
  margin-right: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}

.about-author p {
  overflow: hidden;
}

.comment-list {
  padding-bottom: 5px;
  margin-bottom: 30px;
}

.comment-post h4 img {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  float: left;
}

.comment-post p {
  overflow: hidden;
}

.comment-form .form-contact .form-control {
  background-color: #f5f5f5;
}

/*Timeline blog
------------------------------------*/
.timeline {
  padding: 20px 0;
  list-style: none;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #f5f5f5;
  left: 50%;
  margin-left: -1.5px;
}

.timeline > li {
  margin-bottom: 40px;
  position: relative;
  width: 50%;
  float: left;
  clear: left;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: 94%;
  float: left;
  border: 1px solid #d4d4d4;
  /*border-radius: 2px;*/
  /*padding: 20px;*/
  position: relative;
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline > li > .timeline-badge {
  color: #ccc;
  width: 24px;
  height: 24px;
  line-height: 50px;
  font-size: 1.4em;
  cursor: pointer;
  text-align: center;
  position: absolute;
  top: 19px;
  right: -12px;
  z-index: 9;
}

.timeline > li > .timeline-badge i:hover {
  color: #32c5d2;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline > li > .timeline-panel .timeline-heading {
  padding: 5px;
}

.timeline > li > .timeline-panel .timeline-heading img {
  width: 100%;
}

.timeline .timeline-body {
  padding: 25px 15px;
}

.timeline .timeline-body h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

.timeline-body .post-detail {
  margin: 5px 0px;
}

.timeline > li.timeline-inverted {
  float: right;
  clear: right;
  margin-bottom: 40px;
}

.timeline > li:nth-child(2) {
  margin-top: 60px;
}

.timeline > li.timeline-inverted > .timeline-badge {
  left: -12px;
}

@media (max-width: 992px) {
  .timeline > li > .timeline-panel:before {
    top: 31px;
    right: -11px;
    border-top: 11px solid transparent;
    border-left: 11px solid #ccc;
    border-bottom: 11px solid transparent;
  }

  .timeline > li > .timeline-panel:after {
    top: 32px;
    right: -10px;
    border-top: 10px solid transparent;
    border-left: 10px solid #fff;
    border-bottom: 10px solid transparent;
  }

  .timeline > li.timeline-inverted > .timeline-panel:before {
    border-right-width: 11px;
    left: -11px;
  }

  .timeline > li.timeline-inverted > .timeline-panel:after {
    border-right-width: 10px;
    left: -10px;
  }
}
@media (max-width: 767px) {
  ul.timeline:before {
    left: 40px;
  }

  ul.timeline > li {
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    float: left;
    clear: left;
  }

  ul.timeline > li > .timeline-panel {
    width: calc(100% - 70px);
    width: -moz-calc(100% - 70px);
    width: -webkit-calc(100% - 70px);
  }

  ul.timeline > li > .timeline-badge {
    left: 28px;
    margin-left: 0;
    top: 16px;
  }

  ul.timeline > li > .timeline-panel {
    float: right;
  }

  ul.timeline > li > .timeline-panel:before {
    top: 27px;
    right: -12px;
    border-top: 12px solid transparent;
    border-left: 12px solid #ccc;
    border-bottom: 12px solid transparent;
  }

  ul.timeline > li > .timeline-panel:after {
    top: 28px;
    right: -11px;
    border-top: 11px solid transparent;
    border-left: 11px solid #fff;
    border-bottom: 11px solid transparent;
  }

  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 12px;
    left: -12px;
    right: auto;
  }

  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 11px;
    left: -11px;
    right: auto;
  }

  .timeline > li.timeline-inverted {
    float: left;
    clear: left;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .timeline > li.timeline-inverted > .timeline-badge {
    left: 28px;
  }
}

.post {
    width: 100;
    /*height: 200px;*/
    border-bottom: 1px dashed #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 0px
}

.post > .info-post {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}